.git/objects/pack/pack-413a5e6d8d572d881d69919a69e9c927f4f0ba73.pack
dataset/labels/obj_labels/det_train.json
dataset/labels/drivable_labels/polygons/drivable_train.json
yolopv2.pt
vehicle_train_combined.json
dataset/
dataset_lane_vehicle/
test_images/
test_video/